@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    --bg-daniel: hsl(263, 55%, 52%);
    --bg-jonathon: hsl(217, 19%, 35%);
    --bg-patrick: hsl(219, 29%, 14%);
    --bg-kira: hsl(0, 0%, 100%);
    --bg-primary: hsl(210, 46%, 95%);
    --text-primary: hsl(0, 0%, 100%);
    --text-secondary: hsl(0, 0%, 81%);
}

* {
    font-family: "Barlow Semi Condensed", sans-serif;
}

body {
    margin: 0 auto;
    max-width: 86vw;
    font-size: 0.8125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

p {
    opacity: 0.7;
    font-weight: 500;
    line-height: 20px;
}

.review-description {
    opacity: 0.7;
}

h3,
.name {
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    margin-top: 0;
}

.job-title {
    opacity: 0.5;
    margin-bottom: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "daniel daniel jonathon kira"
        "jeanette patrick patrick kira";
    gap: 20px;
}

.daniel-review,
.jonathon-review,
.patrick-review {
    color: var(--text-primary)
}

.daniel-review {
    grid-area: daniel;
    background-color: var(--bg-daniel);
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: right 50px top 0;
}

.jonathon-review {
    grid-area: jonathon;
    background-color: var(--bg-jonathon);
}

.jeanette-review {
    grid-area: jeanette;
    background-color: var(--text-primary);
}

.patrick-review {
    grid-area: patrick;
    background-color: var(--bg-patrick);
}

.kira-review {
    grid-area: kira;
    background-color: var(--bg-kira);
}

article {
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article div {
    display: flex;
    align-items: center;
    gap: 20px;
}

img {
    border-radius: 50%;
}

@media screen and (min-width: 375px) and (max-width: 1439px) {
    main {
        margin: 20px auto;
        grid-template-columns: repeat(1, 100%);
        grid-template-areas:
            "daniel"
            "jonathon"
            "jeanette"
            "patrick"
            "kira";
        ;
    }
}